/* .navbar {
    background-color: #060b26;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  
  .nav-menu {
    background-color: #060b26;
    background: #fff;
    width: 250px;
    height: 100%;
    justify-content: center;
    position: fixed;
    top: 10;
    left: 0%;
    transition: 850ms;
  } */
  /* .navbar{
    flex: 0.2;
} */

  
  /* .nav-menu.active {
    left: 0;
    transition: 350ms;
  }

  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background: #fff;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  } */